.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--purple);
    padding: 2rem;

    .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;

        h2 {
            color: white;
            font-family: var(--poppins);
            font-size: 6rem;
        }

        p {
            color: white;
            font-family: var(--open-sans);
        }
    }
}

@media (max-width: 860px) {
    .container {
        flex-direction: column;
    }
}
