.loginButton {
    margin-top: 1rem;
    width: 21rem;
    height: 3rem;
    background: linear-gradient(to right, var(--purple), var(--blue-accent));
    color: var(--lighter-purple);
    font-family: var(--open-sans);
    font-size: 0.9rem;
    border: 0;
    border-radius: 150px;
    -webkit-box-shadow: 1px 2px 19px -7px #000000;
    box-shadow: 1px 2px 19px -7px #000000;
    cursor: pointer;
    color: white;
}
