.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .title {
        padding: 1.5rem;
        border-bottom: 1px solid var(--gray);

        h2 {
            font-family: var(--poppins);
            font-weight: 400;
            color: var(--light-black-dark-white);
        }
    }

    .edit {
        padding: 4rem 0;
        display: flex;

        .profile {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            border-right: 1px solid var(--gray);

            p {
                font-family: var(--poppins);
                font-size: 0.9rem;
                color: var(--light-black-dark-white);
            }

            > h3 {
                margin-top: 1.5rem;
                font-family: var(--poppins);
                color: var(--blue);
            }

            > h4 {
                font-family: var(--open-sans);
                color: var(--light-dkgray-dark-lgpurple);
                font-weight: 400;
            }

            .profilePic {
                margin-top: 1.5rem;
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                border: 1px solid var(--gray);
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                padding: 0.3rem;
            }

            .profilePic img {
                border-radius: 50%;
            }

            .postCount {
                margin: 1.5rem 0;

                padding: 0 1rem;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;

                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    font-size: 0.8rem;
                    color: var(--light-dkgray-dark-lgpurple);
                    font-family: var(--open-sans);
                }
            }

            .bio {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                margin-top: 2.5rem;
                font-family: var(--open-sans);

                text-align: center;
                color: var(--light-black-dark-white);

                p {
                    max-width: 18rem;
                }
            }
        }

        .editProfile {
            flex: 2;
            padding: 0 2rem;

            .basicInfo {
                max-width: 1280px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1rem;
                border-bottom: 1px solid var(--gray);

                h2 {
                    font-family: var(--poppins);
                    font-weight: 400;
                    color: var(--light-black-dark-white);
                }
            }

            .basicInfoFields {
                max-width: 1280px;
            }

            .specificInfo {
                margin-top: 3rem;
                max-width: 1280px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1rem;
                border-bottom: 1px solid var(--gray);

                h2 {
                    font-family: var(--poppins);
                    font-weight: 400;
                    color: var(--light-black-dark-white);
                }
            }

            .specificInfoFields {
                max-width: 1280px;
                margin-top: 1rem;

                p {
                    font-family: var(--poppins);
                    font-size: 0.8rem;
                    color: var(--light-black-dark-white);
                }

                .updatePassword {
                    display: flex;
                    justify-content: flex-end;
                }

                .textarea {
                    outline: none;
                    margin-top: 0.5rem;
                    width: 100%;
                    resize: none;
                    height: 8.8rem;
                    padding: 1.5rem;
                    border: none;
                    border-radius: 1.5rem;
                    -webkit-box-shadow: 1px 2px 19px -7px #000000;
                    box-shadow: 1px 2px 19px -7px #000000;

                    font-family: var(--open-sans);
                    font-size: 0.9rem;
                }

            }
        }

    }
}

@media (max-width: 580px) {
    .edit {
        flex-direction: column;
    }

    .basicInfo {
        margin-top: 3rem;
    }
}
