.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;

    background-color: var(--purple);

    h2 {
        color: white;
        font-family: var(--poppins);
        font-size: 2rem;
    }

    p {
        color: white;
        font-family: var(--open-sans);
        max-width: 28rem;
        text-align: center;
    }
}
