:root {
    --purple: #651fff;
    --light-purple: #b388ff;
    --lighter-purple: #ede7f6;
    --blue: #2196f3;
    --light-blue: #42a5f5;
    --blue-accent: #2962ff;
    --green: #81c784;
    --red: #f44336;
    --gray: #ccc;
    --gray-dark: #424242;
    --gray-dark-2: #212121;
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lighter-purple);
}

input::-ms-reveal,
    input::-ms-clear {
    display: none;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}
