.container {
    min-height: 100vh;
    display: flex;

    .banner {
        flex: 7;
        min-height: 100vh;

        background-color: var(--purple);

        display: flex;
        justify-content: center;
        align-items: center;

        div img {
            width: 75%;
        }
    }

    .next {
        flex: 6;
        min-height: 100vh;

        background-color: var(--lighter-purple);

        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding: 2rem;

        .info {

            max-width: 400px;

            h2 {
                font-family: var(--poppins);
                font-size: 2rem;
                color: var(--black);
            }

            p {
                font-family: var(--open-sans);
                font-size: 1.5rem;
                margin-top: 0.5rem;
                color: var(--black);
            }

            .gonext {
                width: 18rem;
                height: 3rem;
                margin-top: 1rem;

                border: 1px solid var(--purple);
                border-radius: 150px;
                cursor: pointer;

                background-color: var(--purple);
                color: var(--black);

                font-family: var(--open-sans);
                font-size: 0.8rem;

                transition: 0.3s;

                &:hover {
                    background-color: transparent;
                    color: var(--purple);
                }
            }
        }

    }

}

@media (max-width: 680px) {
    .container {
        flex-direction: column;

        .banner {
            min-height: 400px;
        }
    }
}
