.loadMore {
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
    padding: 1rem 0;

    &:hover {
        background-color: var(--gray);
    }

    &:hover .arrowDown {
        background-color: var(--gray);
    }

    .line {
        border-bottom: 1px solid var(--gray-dark);
    }

    .arrowDown {
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        background-color: white;
    }
}
