.container {
    min-height: 100vh;
    display: flex;

    background-image: url('/background.png');
    background-size: contain;

    .formContainer {
        min-height: 100vh;
        flex: 6;

        .form {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;

            h1 {
                font-family: var(--poppins);
            }

            p {
                font-family: var(--open-sans);
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    margin-top: 1rem;

                    strong {
                        color: var(--purple);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .message {
        min-height: 100vh;
        flex: 5;
    }

}

.options {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    span {
        font-family: var(--poppins);
    }

    .remember {
        user-select: none;
        display: flex;
        align-items: center;

        .checkbox {
            transition: background-color 0.1s;
            width: 1.2rem;
            height: 1.2rem;
            border: 1px solid var(--purple);
            border-radius: 3px;
            cursor: pointer;
            margin-right: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .checkIcon {
                color: white;
                width: 0.7rem;
            }
        }

        .active {
            background-color: var(--purple);
        }
    }

    .forgotPassword {
        cursor: pointer;
    }
}

.message {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    align-items: center;
    justify-content: center;

    h2 {
        font-family: var(--poppins);
        margin-bottom: 1rem;
    }

    p {
        max-width: 20rem;
        font-family: var(--open-sans);
        text-align: center;
    }

}

@media (max-width: 1200px) {
    .container {
        background-size: cover;
    }
}

@media (max-width: 660px) {
    .container {
        flex-direction: column-reverse;
    }

    .formContainer {
        margin-bottom: 150px;
    }

    .message {
        margin-top: 100px;
    }
}
