.container {
    position: fixed;
    left: 1rem;
    bottom: 1rem;

    width: 1.8rem;
    height: 1.8rem;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 0.3s;

    .moon {
        color: var(--blue);
    }

    .sun {
        color: var(--yellow);
    }

    &:hover {
        .sun, .moon {
            color: white;
        }

        background-color: var(--toggle-btn-bg);
    }
}
